.clickables

  .outer
    .inner
      Nested

  .button
    %span.icon +
    Button

  .panel
    Panel

  .timeline
    Timeline

#message

:javascript
  var clickables = document.querySelectorAll('.clickables *');
  var message = document.querySelector('#message');

  for (var i = 0; i < clickables.length; i++) {
    var clickable = clickables[i];
    clickable.addEventListener('click', function(event) {
      message.textContent = 'You clicked on .' + event.target.className;
    });
  }

