%div{:style => 'display: none'}
  hidden ümläüt

%div{:style => 'display: block'}
  visible ümläüt

%div{:style => 'display: none'}
  hidden '" quotes

%div{:style => 'display: block'}
  visible '" quotes

%div{:style => 'display: none'}
  %label(for='hidden-field') Hidden field
  %input(type='text' id='hidden-field')

%div{:style => 'display: block'}
  %label(for='visible-field') Visible field
  %input(type='text' id='visible-field')
