.container1
  .child1

.container2

%table.table
  %tr
    %th Role
    %th Permissions
  %tr
    %td User
    %td None
  %tr
    %td Admin
    %td All

He lives within a few miles of Augsburg.

.scoped-element
  .scoped-element--child
    Unique Text
    Shared Text

.unrelated-element
  Shared Text
