!!!
%html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  %body
    %img(src="https://www.example.com/image.png")
    %a(href="https://www.example.com/static_pages/link_target") Click me
    %a(href="mailto:user@example.com") mailto links should be ignored
    %a(href="ftp://ftp.example.com/") FTP links are also ignored
    %a(href="https://www.example.com/static_pages/second_link_target") Other link
