%table.other-table
  %tr
    %th something
    %th completely
    %th different
  %tr
    %th 1-1
    %th 1-2
    %th 1-3

%table
  %tr
    %th 1-1
    %th 1-2
    %th 1-3
  %tr
    %td 2-1
    %td 2-2
    %td 2-3
  %tr
    %td 3-1
    %td 3-2
    %td 3-3
