<table>
  <tr>
    <td> one two </td>        <!-- padded with spaces -->
    <td>three   four</td>     <!-- multiple spaces in a row -->
  </tr>
  <tr>
    <td>five
      six</td>                <!-- line break -->
    <td>seven&nbsp;eight</td> <!-- non-breaking space -->
    </tr>
  <tr>
    <td>nine&#x200b;ten</td>   <!-- zero-width space -->
    <td>eleven&shy;twelve</td> <!-- soft hyphen -->
  </tr>
</table>
